/* Reset css to ensure accuracy of styles across browsers */
@import url('reset.css');
/* External Utilities */
@import url('typography.css');
@import url('util.css');

/* ----- VARIABLES ----- */
:root {
  /* colors */
  --primary-color: #e74c3c;
  --secondary-color: #ec7264;
  --black: #24292e;
  --lightblack: #485058;
  --gray80: #ccc;
  --red: #921125;
  --green: #21A179;
  --blue: #33658A;
  --lightblue: #5998C5;

  /* others */
  --margin: 20px;
}

/* reset links and button */
a, button {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  padding: 0;
}

button:focus {
  outline: none;
}

/* scale images to fit into parent container */
img {
  width: 100%;
}

/* UTILITIES */
.primary-text {
  color: var(--primary-color);
}

input[type=text],
input[type=email],
input[type=password],
select {
  width: 100%;
  /* padding: 0.5rem 1rem; */
  font-family: inherit;
  font-size: 1.6rem;
  border: 1px solid var(--gray80);
  border-radius: 0.4rem;
}

.btn {
  padding: 0.5rem 1rem;
  display: block;
  border: 1px solid var(--gray80);
  border-radius: 2px;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
}

.btn-primary {
  background: var(--primary-color);
  border: 0;
  color: white;
}

.btn-primary:hover {
  filter: brightness(120%);
}

.btn-secondary {
  border: 1px solid #f4f4f4;
  background: none;
  color: var(--white);
  font-family: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
}

/* END UTILITIES */

/* ----- MAIN NAVBAR ----- */
.navbar {
  background: var(--black);
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  font-size: 1.6rem;
  color: var(--gray80);
}

.navbar--logo a {
  font-size: 3.2rem;
  padding: 0;
}

.navbar--links a:hover,
.dropdown--button:hover {
  filter: brightness(120%);
}

.navbar--searchbox {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
}

.navbar--searchbox form {
  width: 80%;
}

.navbar--searchbox input {
  border: 1px solid #555;
  background: var(--black);
  color: var(--gray80);
  outline: none;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
}

.navbar--searchbox input:hover {
  border-color: var(--primary-color);
}

.navbar--links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;
}

.navbar--links .btn-primary {
  padding: 0.2rem 1.5rem;
  margin: 0 0.5rem;
}

.navbar--links a:not(:first-child) {
  font-size: 2rem;
  margin: 0 0.5rem;
}

.dropdown {
  position: relative;
}

.dropdown--button {
  color: var(--gray80);
  border: none;
  font-size: 2.8rem;
  margin-top: 1rem;
  text-align: center;
}

.dropdown--menu {
  display: none;
  position: absolute;
  background: white;
  min-width: 20rem;
  box-shadow: 0px 4px 5px 1px rgba(97, 95, 95, 0.18);
  z-index: 2;
  border-radius: 3px;
  margin-top: 4px;
  padding: 0.5rem 0.5rem;
  right: 0;
}

.dropdown--menu a {
  display: block;
  color: #555;
  padding: 1rem;
}

.dropdown--menu a:hover {
  background: var(--secondary-color);
  color: white;
}

.dropdown--menu .fa::before {
  font-size: 2rem;
}

.dropdown--menu i {
  margin-right: 1rem;
}

.dropdown:hover .dropdown--menu {
  display: block;
}

/* ----- END MAIN NAVBAR ----- */

/* ----- MAIN TOP MENU ICONS (mobile) ----- */
.main--icons button {
  font-size: 2.5rem;
  padding: 1rem 0;
}
/* ----- END MAIN TOP MENU ICONS ----- */

/* ----- MAIN CONTENT ----- */
main.wrapper {
  margin-top: 5rem;
}

.main--content .card--header img {
  height: 22rem;
}

.main--content .card--body h3 {
  font-size: 3.1rem;
}

.main--content .card--body .summary {
  align-items: center;
  margin-top: 5px;
}

.main--content .card--body .avatar {
  width: 5rem;
  height: 5rem;
  margin-right: 1.5rem;
}

.main--content .card--body .report-user {
  font-family: inherit;
  font-size: 2.5em;
  font-weight: bold;
}

.main--content .card--body .report-user a:hover {
  color: #555;
}

/* END MAIN CONTENT */

/* ----- SIDEBAR ----- */
.sidebar--nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 50px;
  left: 0;
  background-color: white;
  overflow: hidden;
  border-right: 1px solid #ddd;
  transition: 0.2s;
}

.sidebar--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.sidebar--nav a {
  display: block;
  margin-bottom: 5px;
}

.sidebar--nav .card {
  box-shadow: none;
}

.sidebar--nav .featured-report li {
  padding: 5px 0 10px;

}

.sidebar--nav .featured-report li a {
  font-size: 1.6rem;
  font-weight: bold;
}

.sidebar--nav .featured-report li .label {
  font-size: 1.4rem;
}

.sidebar--nav .featured-report li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}


@media screen and (max-height: 450px) {
  /* .main--sidebar {padding-top: 15px;}
  .main--sidebar a {font-size: 18px;} */
}
