@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:500|Roboto:300');

:root {
  --headings-font: 'Roboto', sans-serif;
  --body-font: 'Alegreya Sans', sans-serif;
}

html,
body {
  font-size: 10px;
  font-family: var(--body-font);
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headings-font);
  font-style: normal;
  font-weight: bold;
}

h1 {font-size: 3.6em;}

h2 {font-size: 3.15em;}

h3 {font-size: 2.75em;}

h4 {font-size: 2.4em;}

h5 {font-size: 2.1em}

h6 {font-size: 1.84em;}

p {
  font-size: 1.6em;
}
