/* ----- Layout ----- */
.wrapper {
  width: 95%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* ----- End Layout ----- */


/* ----- Alignment ----- */
.center {
  align-items: center;
  justify-content: center;
}

.middle {
  align-items: center;
}

.end {
  justify-content: flex-end;
}

/* ----- End Alignment ----- */

/* Components */
.card {
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 3px 3px 0 #ccc;
  margin: 5px 0;
}

.card--header img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  object-fit: cover;
}

.card--body, .card--footer {
  padding: 1.5rem;
}

.card--footer span {
  font-size: 1.6em;
}

.card-primary {
  border-color: var(--blue);
  box-shadow: 3px 3px 0 var(--blue);
}

.card-noshadow {
  box-shadow: none;
}

/* ----- End Component ----- */

/* ----- Stylus ----- */
.primary-text {
  color: var(--primary-color);
}

input[type=text],
input[type=email],
input[type=password],
textarea,
select {
  width: 100%;
  /* padding: 0.5rem 1rem; */
  font-family: inherit;
  font-size: 1.6rem;
  border: 1px solid var(--gray80);
  border-radius: 0.4rem;
}

textarea {
  width: 100%;
  height: 15rem;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid var(--gray80);
  border-radius: 0.4rem;
  resize: none;
  font-family: inherit;
  font-size: 1.6rem;
}

.btn {
  padding: 0.5rem 1rem;
  display: block;
  border: 1px solid var(--gray80);
  border-radius: 2px;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
}

.btn-primary {
  background: var(--primary-color);
  border: 0;
  color: white;
}

.btn-primary:hover {
  filter: brightness(120%);
}

.btn-secondary {
  border: 1px solid #f4f4f4;
  background: none;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
}

.circle-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.label {
  font-size: 1em;
  font-weight: bold;
  border-radius: 2px;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-right: 2px;
  text-transform: lowercase;
}

.label-default {
  border: 1px solid var(--gray80);
}

.label-primary {
  font-size: 1.2em;
  background: var(--lightblue);
  color: white;
}

.label-danger {
  font-size: 1.2em;
  background: var(--red);
  color: white;
}

.label .fa-heart {
  color: var(--red);
}

.label .fa-comment {
  color: var(--blue);
}
