/* ----- Layout ----- */
.wrapper {
  width: 95%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* ----- End Layout ----- */


/* ----- Alignment ----- */
.center {
  align-items: center;
  justify-content: center;
}

.middle {
  align-items: center;
}

.end {
  justify-content: flex-end;
}

/* ----- End Alignment ----- */

/* Components */
.card {
  width: 100%;
  padding: 1.5rem;
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 3px 3px 0 #ccc;
}
