/* Reset css to ensure accuracy of styles across browsers */
@import url('reset.css');
/* External Utilities */
@import url('typography.css');
@import url('util.css');

/* ----- VARIABLES ----- */
:root {
  /* colors */
  --primary-color: #e74c3c;
  --secondary-color: #ec7264;
  --black: #24292e;
  --lightblack: #485058;
  --gray80: #ccc;
  --red: #921125;
  --green: #21A179;
  --blue: #33658A;
  --lightblue: #5998C5;

  /* others */
  --margin: 20px;
}

/* reset links and button */
a, button {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  padding: 0;
}

button:focus {
  outline: none;
}

/* scale images to fit into parent container */
img {
  width: 100%;
}

/* ----- MAIN NAVBAR ----- */
.navbar {
  background: var(--black);
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  font-size: 1.6rem;
  color: var(--gray80);
}

.navbar--logo a {
  font-size: 3em;
  padding: 0;
}

.navbar--links a:hover,
.dropdown--button:hover {
  filter: brightness(120%);
}

.navbar--searchbox {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
}

.navbar--searchbox form {
  width: 80%;
}

.navbar--searchbox input {
  border: 1px solid #555;
  background: var(--black);
  color: var(--gray80);
  outline: none;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
}

.navbar--searchbox input:hover {
  border-color: var(--primary-color);
}

.navbar--links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;
}

.navbar--links .btn-primary {
  padding: 0.2rem 1.5rem;
  margin: 0 0.5rem;
}

.navbar--links a:not(:first-child) {
  font-size: 2rem;
  margin: 0 0.5rem;
}

.dropdown {
  position: relative;
}

.dropdown--button {
  color: var(--gray80);
  border: none;
  padding: 1rem;
}

.dropdown--button .fa {
  font-size: 1.8em;
}

.dropdown--menu {
  display: none;
  position: absolute;
  background: white;
  min-width: 20rem;
  box-shadow: 0px 4px 5px 1px rgba(97, 95, 95, 0.18);
  z-index: 999;
  border-radius: 3px;
  margin-top: 2px;
  padding: 0.5rem 0.5rem;
  right: 0;
}

.dropdown--menu a {
  display: block;
  color: #555;
  padding: 1rem;
}

.dropdown--menu a:hover {
  background: var(--secondary-color);
  color: white;
}

.dropdown--menu .fa::before {
  font-size: 2rem;
}

.dropdown--menu i {
  margin-right: 1rem;
}

.dropdown:hover .dropdown--menu {
  display: block;
}

/* ----- END MAIN NAVBAR ----- */

/* ----- MAIN TOP MENU ICONS (mobile) ----- */
.menu--icons button {
  font-size: 2.5rem;
  padding: 1rem 0;
}
/* ----- END MAIN TOP MENU ICONS ----- */

/* ----- MAIN CONTENT ----- */
main.wrapper {
  margin-top: 5rem;
}

.main--content .card--header img {
  height: 22rem;
}

.main--content .card--body h3 {
  font-size: 3.1rem;
}

.main--content .card--body .summary {
  align-items: center;
  margin-top: 5px;
}

.main--content .card--body .avatar {
  width: 5rem;
  height: 5rem;
  margin-right: 1.2rem;
}

.main--content .card--body .report-user {
  font-family: inherit;
  font-size: 2.5em;
  font-weight: bold;
}

.main--content .card--body .report-user a:hover {
  color: #555;
}

/* END MAIN CONTENT */

/* ----- SIDEBAR ----- */
.sidebar--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.sidebar--nav a {
  display: block;
  margin-bottom: 5px;
}

.sidebar--nav .card {
  box-shadow: none;
}

.sidebar--nav .featured-report .tag a {
  display: inline-block;
}

.sidebar--nav .featured-report li h5 {
  font-family: inherit;
  font-size: 1.6em;
  font-weight: bold;
}

.sidebar--nav .featured-report li:hover h5 {
  color: #555;
}

.sidebar--nav .featured-report li .label {
  font-size: 1.4em;
}

.sidebar--nav .card p {
  text-align: right;
}

.joined {
  font-size: 1.3rem;
}

.joined-date {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 1rem;
}

/* ----- END ----- */

/* ----- FOOTER ----- */
.main--footer {
  display: flex;
  background: var(--black);
  color: var(--gray80);
  padding: 3rem;
  margin-top: 10rem;
}

.footer--content p {
  font-size: 1.32em;
}

/* ----- END FOOTER ----- */


/* ----- RECORD ----- */
section#report span.published-at {
  font-size: 2rem;
}

section#report span.published-at::before {
  content: '-';
  padding-left: 1rem;
  padding-right: 1rem;
}

.report-content {
  margin-top: 2rem;
}

.comment .author .avatar img {
  width: 4rem;
  height: 4rem;
}

.comment .report-user a {
  font-size: 1.6rem;
}

.comments-lists {
  margin-top: 2rem;
}

.comment .author .name {
  padding: 0;
}

.comment .author .avatar {
  margin: 0;
}

.author a {
  display: flex;
  align-items: center;
}

.author a:hover {
  color: #777;
}

.author .avatar img {
  width: 5rem;
  height: 5rem;
}

.author .name {
  font-size: 2.4rem;
  font-weight: bold;
  padding: 1rem;
}

.author .published-at {
  font-weight: bold;
}

/* ----- END RECORD ----- */

/* ----- DASHBOARD ----- */
main#dashboard.wrapper {
  padding-top: 2.5rem;
}

section#dashboard .records-list .card {
  width: 99%;
}

.overview .card {
  width: 98%;
  text-align: center;
}

.overview span.count {
  font-size: 6rem;
  font-weight: bold;
}

.overview span.count {
  font-weight: 900;
}

.records-list, .record--links {
  margin-top: 2rem;
}

.record--links button,
.record--links a,
.record--links span {
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.record--links span {
  cursor: default;
}

.record--links .draft {
  background: var(--blue);
}

.record--links .edit {
  background: var(--green);
}

.record--links .delete {
  background: var(--red);
}

.record--links .add-map {
  background: var(--lightblue);
}

.form-control .avatar img {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}

/* ----- END DASHBOARD ----- */

/* ----- USER PROFILE */
.user-profile>* {
  margin: 0 2rem;
}

.user--avatar img {
  width: 20rem;
  height: 20rem;
  border: 0.5rem solid var(--gray80);
  border-radius: 50%;
  object-fit: cover;
}

.profile--image img {
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--gray80);
  border-radius: 50%;
  object-fit: cover;
}

.user--detail h3 {
  font-weight: bold;
  font-size: 4.8em;
  margin-bottom: 0;
}

.user--detail .btn-primary {
  margin-bottom: 2rem;
}

.user--bio {
  text-align: center;
  text-justify: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.user--stat .container {
  width: 100%;
  text-align: center;
  border-left: 0.2rem solid var(--primary-color);
  padding: 2rem 2.8rem;
}

.user--stat span {
  display: block;
  font-size: 1.4em;
  font-weight: 600;
}

/* ----- END USER PROFILE ----- */


/* ----- MEDIA QUERIES ----- */
@media (max-width: 455px) {
  .navbar--searchbox form {
    display: none;
  }
}

@media (max-width: 575px) {
  .overview .card--body {
    font-size: 0.7rem;
  }
  
  .navbar--links .btn-primary {
    display: none;
  }
}

@media (max-width: 768px) {
  main#dashboard .main--content {
    flex: 2;
  }
  
  .sidebar--nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: white;
    overflow: hidden;
    border-right: 1px solid #ddd;
    transition: 0.2s;
  }
}

@media (max-width: 900px) {
  .user-profile {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .navbar--links .btn-primary {
    display: block;
  }
  
  main.wrapper {
    padding-top: 2.5rem;
  }
  
  .menu--icons {
    display: none;
  }

  .wrapper {
    width: 95%;
  }

  .main--content {
    flex: 2;
  }

  .main--sidebar {
    width: 28rem;
    margin-right: 1.5rem;
  }

  .main--sidebar .wrapper {
    width: 100%;
    margin: 0;
  }

  .main--content {
    order: 2;
  }

  .main--sidebar {
    order: 1;
  }

  .sidebar--nav {
    width: 28rem;
    position: fixed;
    background-color: white;
    transition: 0.2s;
  }

  /* User Profile */
  .user--avatar img {
    width: 25rem;
    height: 25rem;
  }

  .user--detail h3 {
    font-size: 6.1em;
  }
}

@media (min-width: 992px) {
  .wrapper {
    width: 75%;
  }

  .navbar--searchbox form {
    width: 60%;
  }
}
